$white:#fff;
$blue:#4bcaff;
$grey:#515f67;

/************** Reset CSS ***************/
/***************************************/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/**************** Style ******************/
/****************************************/

body {
	position:relative;
  min-width:320px;
  width:100%;
	background-color:$grey;
	font:12px/14px "SegoeUIRegular", Arial, sans-serif;
	color:$white;
  a {
    text-decoration: none;
    outline:none;
  }
}

.main {
	max-width:100%;
	overflow:hidden;
}

section {
  min-width:320px;
	padding-top:70px;
	padding-bottom:48px;
	overflow:hidden;
	h2 {
		font:30px "SegoeUiLight", Arial, sans-serif;
		margin-bottom:40px;
    text-transform:uppercase;
		&:after {
			content:'';
			display:block;
      position:relative;
      bottom:-2px;
      left:2px;
			width:45px;
			height:2px;
			background:$white;
		}
	}
}

.wrapper {
	position:relative;
	-webkit-transition:transform .5s ease-out;
	transition:transform .5s ease-out;
}

.menu-open .wrapper {
	-webkit-transform:translate3d(-150px,0,0);
	transform:translate3d(-150px,0,0);
}

.services, .twit {
	background-color:#4bcaff;
}

.portfolio, .testimonials {
	background-color:$white;
	color:$grey;
	h2:after {
		background:$grey;
	}
}

@media (max-width: 992px) {
	.content-wrapper, .mobile-menu {
		
	}
}

/**************** Font ******************/
/***************************************/

/* font-family: "SegoeUIRegular"; */
@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIItalic"; */
@font-face {
    font-family: "SegoeUIItalic";
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
    url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUILight"; */
@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUISemiBold"; */
@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/***************** Grid *****************/
/***************************************/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing:border-box;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.row {
  position:relative;
  margin-right: -15px;
  margin-left: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing:border-box;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

  @media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}

.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.container:after,
.row:after {
  clear: both;
}

/**************** Preloader ****************/
/***************************************/

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $white;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    .loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $blue;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    .loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: $white;
        opacity:.6;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    .loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: $grey;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    .loader-wrapper .loader-section.section-left {
        left: 0;
    }

    .loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded .loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded .loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded .loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded .loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js .loader-wrapper {
        display: none;
    }

/**************** Header ****************/
/***************************************/

header {
	position:absolute;
	width:100%;
	height:150px;
	background:rgba(57,68,75,.8);
	z-index:2;
	.logo {
		float:left;
    a {
      font:30px 'SegoeUIBold';
      text-transform: uppercase;
      color:$white;
      -webkit-transition:opacity .3s ease-out;
      transition:opacity .3s ease-out;
      span {
        color:$blue;
      }
      &:hover, &:focus {
        opacity:.7;
      }
    }
	}
	.logo, .menu {
		line-height:160px;
	}
}

@media (max-width: 992px) {
  header {
    position:fixed;
    top:0;
    left:0;
    height:70px;
    .logo, .menu {
      line-height:76px;
    }
  }
}

/**************** Menu ****************/
/***************************************/

header {
	.menu {
		float:right;
    position:relative;
	}
	nav {
		
		ul {
      font-size:0;
		  li {
				display:inline-block;
        margin-left:47px;
        a {
          font:14px 'SegoeUIBold';
          color:$white;
          text-transform: uppercase;
          -webkit-transition:color .3s ease-out;
          transition:color .3s ease-out;
          &:hover {
            color:$blue;
          }
        }
			}
      .active {
        margin-right: -16px;
        a {
          padding:5px 17px 7px 17px;
          border:2px solid $blue;
          color:$blue;
        }
      }
		}
	}
  .menu-btn {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 11px 0 0;
    padding: 0;
    width: 54px;
    height: 48px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
            transition: background 0.3s;
  }

  .menu-btn:focus {
    outline: none;
  }
  .menu-btn span {
    display: block;
    position: absolute;
    top: 23px;
    left: 9px;
    right: 9px;
    height: 3px;
    background: white;
  }

  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
  }

  .menu-btn span::before {
    top: -13px;
  }

  .menu-btn span::after {
    bottom: -12px;
  }

  /**
   * Style 2
   *
   * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
   * down to center and transform into an "x".
   */
  .cmn-toggle-switch__htx {
    background-color: $blue;
  }

  .cmn-toggle-switch__htx span {
    -webkit-transition: background 0 0.3s;
            transition: background 0 0.3s;
  }

  .cmn-toggle-switch__htx span::before,
  .cmn-toggle-switch__htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
            transition-delay: 0.3s, 0s;
  }

  .cmn-toggle-switch__htx span::before {
    -webkit-transition-property: top, -webkit-transform;
            transition-property: top, transform;
  }

  .cmn-toggle-switch__htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
            transition-property: bottom, transform;
  }

  /* active state, i.e. menu open */
  .cmn-toggle-switch__htx.active {
    background-color: #24a5db;
  }

  .cmn-toggle-switch__htx.active span {
    background: none;
  }

  .cmn-toggle-switch__htx.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .cmn-toggle-switch__htx.active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .cmn-toggle-switch__htx.active span::before,
  .cmn-toggle-switch__htx.active span::after {
    -webkit-transition-delay: 0s, 0.3s;
            transition-delay: 0s, 0.3s;
  }
}

.mobile-menu {
	display:none;
	position:absolute;
	right:-150px;
	height:100%;
	background:$grey;
  box-shadow: inset 1px 0px 5px 0px #000;
	nav {
		position:relative;
		width:100%;
		height:100%;
		.floating-menu {
			position:absolute;
			width:100%;
			top:100px;
			-webkit-transition:top 1s ease-out;
			transition:top 1s ease-out;
			-webkit-transition-delay:.2s;
			transition-delay:.2s;
      li {
        margin-bottom:15px;
        text-align: center;
        a {
          font:14px 'SegoeUIBold';
          color:$white;
          text-transform: uppercase;
          -webkit-transition:color .3s ease-out;
          transition:color .3s ease-out;
        }
      }
      li.active a {
        color:$blue;
      }
		}
	}
}

@media (max-width: 992px) {
	header {
		nav {
			display:none;
		}
		.menu-btn {
			display:block;
		}
	}
	.mobile-menu {
		display:block;
		width:150px;
	}
}

/**************** Home ****************/
/*************************************/

.home {
	padding-top:150px;
	padding-bottom:0;
  background:url(../images/photo.jpg) 50% 50% no-repeat;
  background-size: cover;
	height:800px;
	box-sizing:border-box;
	h1 {
		font:42px/75px 'SegoeUILight';
    padding-top:243px;
		text-align:center;
    vertical-align: middle;
    text-transform: uppercase;
    span {
      background-color:rgba(64, 74, 82, .8);
    }

    .top {
      margin-right: -16px;
      padding: 2px 13px 7px 23px;
    }
    .bottom {
      margin-right: -4px;
      padding: 0px 20px 9px 16px;
    }
	}
}



@media (max-width: 768px) {
  .home h1 {
    padding-top:190px;
  }
}

@media (max-width: 425px) {
  .home h1 {
    padding-top:50px;
  }
}

/**************** Services ****************/
/*****************************************/

.services {
  .services-block{
    padding-left:2px;
    .services-icon {
      display: block;
      margin-bottom:17px;
    }
    .coffee {
      width:34px;
      height:48px;
      background:url(../images/services-icons.png) no-repeat 0px 0px;
      -webkit-transition:background .3s ease-out;
      transition:background .3s ease-out;
    }
    .instant {
      width:48px;
      height:48px;
      background:url(../images/services-icons.png) no-repeat -37px 0px;
      -webkit-transition:background .3s ease-out;
      transition:background .3s ease-out;
    }
    .dslr {
      width:47px;
      height:45px;
      margin:4px 0px 16px -2px;
      background:url(../images/services-icons.png) no-repeat -88px -1px;
      -webkit-transition:background .3s ease-out;
      transition:background .3s ease-out;
    }
    .frame {
      width:48px;
      height:48px;
      background:url(../images/services-icons.png) no-repeat -138px 0px;
      -webkit-transition:background .3s ease-out;
      transition:background .3s ease-out;
    }
    h3 {
      font:24px 'SegoeUISemiBold';
      padding-bottom:10px;
      text-transform:uppercase;
      -webkit-transition:color .3s ease-out;
      transition:color .3s ease-out;
    }
    p {
      font-size:12px;
      line-height: 17px;
      word-spacing: 1.5px;
      padding-bottom:30px;
      -webkit-transition:color .3s ease-out;
      transition:color .3s ease-out;
    }
    &:hover, &:focus {
      .coffee {
        width:34px;
        height:48px;
        background:url(../images/services-icons_hover.png) no-repeat 0px 0px;
      }
      .instant {
        width:48px;
        height:48px;
        background:url(../images/services-icons_hover.png) no-repeat -37px 0px;
      }
      .dslr {
        width:47px;
        height:45px;
        background:url(../images/services-icons_hover.png) no-repeat -88px -1px;
      }
      .frame {
        width:48px;
        height:48px;
        background:url(../images/services-icons_hover.png) no-repeat -138px 0px;
      }
      h3, p {
        color:$grey;
      }
    }
  }
}

/**************** Portfolio ******************/
/********************************************/

.portfolio {
  ul {
    float:right;
    margin-top:19px;
    font-size:0;
    li {
      display:inline-block;
      margin-left:47px;
      a {
        font:14px 'SegoeUIBold';
        color:$grey;
        text-transform: uppercase;
        -webkit-transition:all .3s ease-out;
        transition:all .3s ease-out;
        &:hover {
          color:$blue;
        }
      }
    }
    .active {
      margin-left:-10px;
      padding:5px 17px 7px 17px;
      border:2px solid $blue;
      color:$blue;
    }
  }
  .portfolio-container {
    margin-top:42px;
    padding-bottom:2px;
    .portfolio-item {
      margin-bottom:30px;
      .item {
        width:100%;
        position:relative;
        overflow:hidden;
        img {
          display:block;
          width:100%;
          -webkit-transition:-webkit-transform .3s ease-out;
          transition:transform .3s ease-out;
        }
        .filter {
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background-color:rgba(53, 63, 71, 0);
          -webkit-transition:background-color .3s ease-out;
          transition:background-color .3s ease-out;
          a {
            width: 32px;
            height: 33px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -16px;
            margin-left: -16px;
            -webkit-transition:opacity .3s ease-out;
            transition:opacity .3s ease-out;
            &:hover, &:focus {
              opacity:0.6;
            }
            img {
              -webkit-transform:(0,0);
              transform:scale(0,0);
              -webkit-transition:-webkit-transform .3s ease-out;
              transition:transform .3s ease-out;
            }
          }
        }
        &:hover, &:focus {
          img {
            -webkit-transform:scale(1.1,1.1);
            transform:scale(1.1,1.1);
          }
          .filter {
            background-color:rgba(53, 63, 71, .9);
            a {
              img {
                -webkit-transform:scale(1,1);
                transform:scale(1,1);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .portfolio ul {
    float:none;
    width:100%;
    text-align:center;
    li {
      margin-left:15px;
      margin-bottom:30px;
    }
  }
}

/**************** Default ******************/
/******************************************/

.default {
  .vimeo {
    float:right;
    padding-top:10px;
    padding-bottom:30px;
    iframe {
      width:560px;
      height:313px;
      frameborder:0;
    }
  }
  .default-text {
    position:absolute;
    top:79px;
    p {
      padding-bottom: 26px;
      font:14px/23px "SegoeUIRegular";
    }
    .visit-me {
      padding-top: 21px;
      padding-left: 2px;
      a {
        padding:10px 39px 12px;
        font:14px "SegoeUIBold";
        color:#353f46;
        border:2px solid;
        border-color:#353f46;
        text-transform: uppercase;
        -webkit-transition:color .3s ease-out, background-color .3s ease-out, border-color .2s ease-out;
        transition:color .3s ease-out, background-color .3s ease-out, border-color .2s ease-out;
        &:hover, &:focus {
          color:$white;
          border-color:$blue;
          background-color:$blue;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .default {
    .vimeo {
      width:100%;
      text-align:center;
    }
    .default-text {
      position:static;
      top:0;
      .visit-me {
        text-align:center;
      }
    }
  }
}

@media (max-width: 600px) {
  .default .vimeo iframe {
    width:290px;
    height:auto;
  }
}

/**************** Twit ******************/
/***************************************/

.twit {
  h2 {
    position:relative;
    &:before {
      content:'';
      display:block;
      width:26px;
      height:22px;
      position:absolute;
      top:10px;
      right:-3px;
      background:url(../images/social-icons.png) no-repeat 0px 0px;
    }
  }
  p {
    font:28px/50px "SegoeUILight";
    padding-bottom:18px;
    padding-left:3px;
    margin-top:-13px;
    a {
      letter-spacing: 1px;
      color:$white;
      font-weight:bolder;
      -webkit-transition:color .3s ease-out;
      transition:color .3s ease-out;
      &:hover, &:focus {
        color:$grey;
      }
    }
  }
}

/**************** Who IS ******************/
/*****************************************/

.who-is {
  height:505px;
  padding-top:90px;
  background: url(../images/who_is.jpg) no-repeat 50% 50%;
  background-size:cover;
  box-sizing:border-box;
  h2 {
    margin-bottom:35px;
  }
  p {
    font:14px/24px "SegoeUIRegular";
    margin-left:2px;
    padding-bottom: 25px;
  }
  .socials {
    list-style:none;
    font-size:0;
    margin-top:8px;
    margin-left:2px;
    li {
      display:inline-block;
      margin-right:20px;
      a {
        display:block;
        width:64px;
        height:64px;
        position:relative;
        border:2px solid;
        box-sizing:border-box;
      }
    }
    .twitter-btn, .google_plus-btn, .dribbble-btn, .coffee-btn {
      border-color:#fff;
      -webkit-transition:border-color .2s ease-out, background-color .3s ease-out;
      transition:border-color .2s ease-out, background-color .3s ease-out;
    }
    .twitter-btn:hover, .twitter-btn:focus {
      border-color:#1da1f2;
      background-color:#1da1f2;
    }
    .google_plus-btn:hover, .google_plus-btn:focus {
      border-color:#db4437;
      background-color:#db4437;
    }
    .dribbble-btn:hover, .dribbble-btn:focus {
      border-color:#ea4c89;
      background-color:#ea4c89;
    }
    .coffee-btn:hover, .coffee-btn:focus {
      border-color:#25140d;
      background-color:#25140d;
    }  
    .twitter-ico, .google_plus-ico, .dribbble-ico, .coffee-ico {
      display:block;
      position:absolute;
      top:50%;
      left:50%;
    }
    .twitter-ico {
      width:26px;
      height:22px;
      margin-top:-11px;
      margin-left:-13px;
      background:url(../images/social-icons.png) no-repeat 0px 0px;
    }
    .google_plus-ico {
      width:28px;
      height:29px;
      margin-top:-14px;
      margin-left:-14px;
      background:url(../images/social-icons.png) no-repeat -28px 0px;
    }
    .dribbble-ico {
      width:26px;
      height:27px;
      margin-top:-13px;
      margin-left:-13px;
      background:url(../images/social-icons.png) no-repeat -59px 0px;
    }
    .coffee-ico {
      width:31px;
      height:24px;
      margin-top:-12px;
      margin-left:-15px;
      background:url(../images/social-icons.png) no-repeat -87px 0px;
    }
  }
}

@media (max-width: 320px) {
  .who-is .socials li {
    margin-bottom:10px;
  }
}

@media (max-width: 768px) {
  .who-is {
    height:auto;
    .socials {
      text-align:center;
    }
  }
}

/**************** Testimonials ******************/
/***********************************************/

.testimonials {
  h2 {
    position:relative;
    &:before {
      content:'';
      display:block;
      width:32px;
      height:26px;
      position:absolute;
      top:10px;
      right:-3px;
      background:url(../images/social-icons.png) no-repeat -119px 0px;
    }
  }
  .owl-item .comment {
    display:block;
  }
  .comment {
    display:none;
    padding-bottom:28px;
    p {
      font:28px/50px "SegoeUILight";
      padding-bottom:26px;
      padding-left:3px;
      margin-top:-13px;
    }
    span {
      padding-left:3px;
      font:14px "SegoeUIBold";
      color:$blue;
    }
  }
}

/**************** Contact ******************/
/******************************************/

.contact {
  background:url(../images/contact_bg.jpg) no-repeat 50% 50%;
  background-size:cover;
  .contact-form {
    margin-top:-3px;
    margin-left:2px;
    padding-bottom:32px;
    overflow:hidden;
    label {
      display:block;
      width:100%;
      margin-bottom:6px;
      font:14px "SegoeUIBold";
      text-transform: uppercase;
    }
    input {
      display:block;
      width:100%;
      max-width:470px;
      margin-bottom:35px;
      padding:20px 20px 21px;
      background:none;
      border:2px solid;
      border-color:$white;
      box-sizing:border-box;
      -webkit-transition:box-shadow .3s ease-out, border-color .2s ease-out;
      transition:box-shadow .3s ease-out, border-color .2s ease-out;
      &:focus {
        box-shadow: 0px 0px 4px 2px $blue;
        border-color:$blue;
        outline:none;
      }
    }
    textarea {
      display:block;
      width:100%;
      height:220px;
      margin-bottom:40px;
      padding:20px 20px 21px;
      background:none;
      border:2px solid;
      border-color:$white;
      box-sizing:border-box;
      -webkit-transition:box-shadow .3s ease-out, border-color .2s ease-out;
      transition:box-shadow .3s ease-out, border-color .2s ease-out;
      &:focus {
        box-shadow: 0px 0px 4px 2px $blue;
        border-color:$blue;
        outline:none;
      }
    }
    button {
      display:block;
      width:370px;
      height:60px;
      font:14px "SegoeUIBold";
      color:$white;
      background-color: $blue;
      border:none;
      text-transform: uppercase;
      cursor:pointer;
      -webkit-transition:box-shadow .2s ease-out, color .3s ease-out;
      transition:box-shadow .2s ease-out, color .3s ease-out;
      &:hover, &:focus {
        box-shadow:0px 0px 4px 2px $white;
        color:$grey;
      }
    }
  }
  .contact-subscribe {
    padding-top:18px;
    p {
      margin-bottom:27px;
      font:14px/24px "SegoeUISemiBold";
    }
  }
}

@media (max-width: 375px) {
  .contact .contact-form button {
    width:290px;
  }
}

@media (max-width: 767px) {
  .contact {
    .contact-subscribe {
      display:none;
    }
    .contact-form button {
      margin:0 auto;
    }
  }
}

@media (max-width: 992px) {
  .contact .contact-subscribe p {
    font-size:12px;
    line-height:21px;
  }
}

/**************** Footer ******************/
/*****************************************/

footer {
  height:170px;
  font:12px "SegoeUISemiBold";
  color:$grey;
  background-color:#353f47;
  overflow:hidden;
  .footer-menu {
    margin-top:-2px;
    margin-left:-8px;
    line-height:170px;
    a {
      margin:1px 10px 1px 10px;
      font:12px "SegoeUISemiBold";
      color:$grey;
      text-transform: uppercase;
      -webkit-transition:color .3s ease-out;
      transition:color .3s ease-out;
      &:hover, &:focus {
        color:$blue;
      }
    }
  }
  p {
    float:right;
    line-height:170px;
  }
}

@media (max-width: 320px) {
  footer .footer-menu a {
    line-height:30px;
  }
}

@media (max-width: 767px) {
  footer {
    height:auto;
    padding:30px 0;
    text-align:center;
    .footer-menu, p {
      line-height: 100%;
    }
    .footer-menu {
      margin-bottom:30px;
    }
    p {
      float:none;
    }
  }
}

